
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.lorem
{
    position: relative;
    cursor: pointer;
    animation: hideAnimation 0s ease-in 1.5s;
    animation-fill-mode: forwards
}

h1
{
    color: black;
    margin-top: 100px;
    font-size: 50px;
}

.logout
{
    margin-top: 50px;
}

p
{
    position: absolute;
    font-size: 70px;
    right: 50px;
    bottom: 20px;
}

p:hover
{
    transition: 100ms;
    transform: scale(1.5);
}


@keyframes hideAnimation 
{
    to 
    {
        visibility: hidden;
    }
  }